<ng-container *ngIf="!isSubmitted else preview">
    <h1 *ngIf="showHeading" >Portfolio</h1>
    <h2>Personal Information</h2>
    <form>
        <div>
            <label for="name">Name</label>
            <input [(ngModel)]="name" type="text" name="name" id="name">
        </div>
        <div>
            <label for="email">Email</label>
            <input [(ngModel)]="email" type="email" name="email" id="email">
        </div>
        <div>
            <label for="phone">Phone</label>
            <input [(ngModel)]="phone" type="tel" name="tel" id="tel">
        </div>
        <div>
            <label for="address">Address</label>
            <input [(ngModel)]="address" type="text" name="address" id="address">
        </div>
    </form>

    <h2>Qualifications</h2>
    <div class="qualification-section" *ngFor="let q of qualification; index as i">
        <h3>Qualification {{i+1}}</h3>
        <form>
            <div>
                <label for="school">School/College</label>
                <input [(ngModel)]="q.school" type="text" name="school" id="school">
            </div>
            <div>
                <label for="degree">Degree</label>
                <input [(ngModel)]="q.degree" type="text" name="degree" id="degree">
            </div>
            <div>
                <label for="year">Year</label>
                <input [(ngModel)]="q.year" type="text" name="year" id="year">
            </div>
        </form>

        <button (click)="deleteQualification(i)" class="deleteQualification">X</button>
    </div>
    <div class="btn-container">
        <button (click)="addQualification()">Add Qualification</button>
        <button (click)="submit()" >Submit</button>
    </div>
</ng-container>

<ng-template #preview>
    <div class="preview-container">
        <h2>Preview</h2>
        <div>
            <p [ngClass]="{'name' : true}" >{{name}}</p>
            <p>Email: {{email}}</p>
            <p>Phone: {{phone}}</p>
            <p>Address: {{address}}</p>
        </div>
        <div>
            <h3>Qualification</h3>
            <div *ngFor="let q of qualification">
                <h5>School/College: {{q.school}}</h5>
                <h5>Degree: {{q.degree}}</h5>
                <h5>Year: {{q.year}}</h5>
            </div>
        </div>
        <button class="btn-edit" (click)="edit()">Edit</button>
    </div>
</ng-template>